__pycache__/
.DS_Store
projects/swift-sdk/client/sdk/
projects/binary-dependency/client/sdk/
projects/crons/client/sdk/
projects/dart-test/client/sdk/
projects/hello-world/client/sdk/
projects/js-sdk/client/sdk/
projects/python-sdk/client/sdk/
projects/todo-list/client/sdk/
projects/todo-list-ts/client/sdk/
projects/ts-sdk/client/sdk/
projects/typescript-srv-python-client/client/sdk/
projects/webhook/client/sdk/
projects/create
projects/stderr.txt
projects/stdout.txt
.idea/
# Ignore all sdks
**/sdk*