name: test-new-project
region: us-east-1
yamlVersion: 2
backend:
  path: .
  language:
    name: ts
    runtime: nodejs18.x
    packageManager: npm
  cloudProvider: genezio
  sdk:
    path: ./sdk/
    language: ts
