name: test-new-project
region: us-east-1
cloudProvider: aws
packageManager: npm
sdk:
  language: ts
  path: ./sdk/
classes:
  - path: test-jsonrpc.js
    type: jsonrpc
    methods: []
  - path: test-http.js
    type: http
    methods: []
