name: Integration Tests Linux Production

on:
  # schedule:
  #   - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  integration-tests:
    uses: Genez-io/genezio-tests/.github/workflows/integration-tests.yml@fix/GNZ-795
    with:
      branch: "master"
      os: ubuntu-latest
    secrets:
      token: ${{ secrets.GENEZIO_TOKEN_PROD }}
