name: Integration Tests Linux Production

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  integration-tests:
    uses: Genez-io/genezio-tests/.github/workflows/integration-tests.yml@main
    with:
      genezio_branch: "master"
      os: ubuntu-latest
      genezio_tests_branch: "main"
    secrets:
      genezio_token: ${{ secrets.GENEZIO_TOKEN_PROD }}
      slack_token: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
