name: Integration Tests Linux Dev

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  integration-tests:
    uses: Genez-io/genezio-tests/.github/workflows/integration-tests.yml@dev
    with:
      genezio_branch: "dev"
      os: ubuntu-latest
      genezio_tests_branch: "dev"
    secrets:
      genezio_token: ${{ secrets.GENEZIO_TOKEN_DEV }}
      slack_token: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
