name: Integration Tests

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip'
      - name: Install Python dependencies
        uses: py-actions/py-dependency-install@v4
      - uses: actions/checkout@v3
        with:
          repository: 'Genez-io/genezio'
          path: genezio
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
          cache-dependency-path: genezio/package-lock.json
      - run: cd genezio && npm install && npm run install-locally-dev
      - run: python test_hello.py
