name: Integration Tests Linux Production

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  integration-tests:
    uses: Genez-io/genezio-tests/.github/workflows/integration-tests.yml@main
    with:
      genezio_branch: "main"
      os: ubuntu-latest
      genezio_tests_branch: "main"
      genezio_backend: "https://api.genez.io"
    secrets:
      genezio_token: ${{ secrets.GENEZIO_TOKEN_PROD }}
      slack_token: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
      auth_test_db_url: ${{ secrets.AUTH_TEST_DB_URL_PROD }}
      confirm_email_webhook_url: ${{ secrets.AUTH_CONFIRMATION_EMAIL_WEBHOOK_PROD }}
      reset_password_webhook_url: ${{ secrets.AUTH_RESET_PASSWORD_WEBHOOK_PROD }}
      auth_token: ${{ secrets.AUTH_TOKEN_PROD }}
